*{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(https://wallpaperaccess.com/full/1550524.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}

.menu-bar{
    background-color: #8B4513;
    text-align: center;
    opacity: .8;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}

.active, .menu-bar ul li:hover{
    background: #F4A460;
    border-radius: 3px;
}


section{
    width: 100%;
    height: 100%;
}

.set{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;  
}

.set div{
    position: absolute;
    display: block;
}

.set div:nth-child(1){
    left:20%;
    animation: animate1 15s linear infinite;
}
.set div:nth-child(2){
    left:50%;
    animation: animate1 20s linear infinite;
}
.set div:nth-child(3){
    top:30%;
    animation: animate2 25s linear infinite;
}
.set div:nth-child(4){
    left:70%;
    animation: animate1 30s linear infinite;
}
.set div:nth-child(5){
    left:5%;
    animation: animate1 35s linear infinite;
}
.set div:nth-child(6){
    top:70%;
    animation: animate3 25s linear infinite;
}

@keyframes animate1
{
    0%
    {
        opacity: 0;
        top: 15%;
        transform: translateX(20px) rotate(0deg);
    }
    10%
    {
        opacity: 1;
    }
    20%{
        transform: translateX(-20px) rotate(45deg);
    }
    40%{
        transform: translateX(-20px) rotate(45deg);
    }
    60%{
        transform: translateX(20px) rotate(90deg);
    }
    80%{
        transform: translateX(-20px) rotate(135deg);
    }
    100%
    {
        top: 90%;
        transform: translate(-20px) rotate(225deg);
    }
}

@keyframes animate2
{
    0%
    {
        left: 5%;
        transform: translateY(20px) rotate(-45deg);
    }
    20%{
        transform: translateY(-20px) rotate(0deg);
    }
    40%{
        transform: translateY(20px) rotate(45deg);
    }
    60%{
        transform: translateY(-20px) rotate(0deg);
    }
    80%{
        transform: translateY(20px) rotate(-45deg);
    }
    100%{
        left: 90%
    }
}

@keyframes animate3
{
    0%
    {
        left: 90%;
    }
    100%{
        left: 5%
    }
}